body{
  background-color: #232323;
  margin: 0;
  font-family: 'Montserrat', 'Avenir';
}

h1{
  margin: 0;
  text-align: center;
  color: white;
  background-color: #6686ba;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
}

#colorDisplay{
  font-size: 200%;
}

.circle{
  border: 2px solid black;
  margin: 1%;
  width: 30%;
  padding-bottom: 30%;
  float: left;
  border-radius: 50%;
  transition: background-color 0.6s;
  /* making it browser friendly */
  --webkit-transition: background-color 0.6s;
  --moz-transition: background-color 0.6s;
}

.selected{
  background-color: #6686ba;
  color: white;
}

#container{
  max-width: 700px;
  margin: 20px auto;
}

#stripe{
  background-color: white;
  height: 30px;
  text-align: center;
}

button{
  border: none;
  background-color: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: #6686ba;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  /* making it browser friendly */
  --webkit-transition: all 0.6s;
  --moz-transition: all 0.6s;
}

#message{
  display: inline-block;
  width: 20%;
}

button:hover{
  color: white;
  background-color: #6686ba;
}
